body {
  display: block !important;
  /* Flex'i kaldırmak için display ayarını block olarak belirleyin */
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(images/cover4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}